<!DOCTYPE html>
<html lang="en" data-no-js>
{%- set pageUrlLength = page.url | length -%}
{%- set pageTitle %}{% if title %}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
{%- set pageDescription %}{% if description %}{{ description }}{% else %}{{ meta.siteDescription }}{% endif %}{% endset -%}
{%- set pageSocialImg %}{{ meta.url }}/assets/social-image-default.png{% endset -%}

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{{ pageTitle }}</title>
	<meta name="description" content="{{ pageDescription }}" />

	<link rel="icon" href="{{ '/assets/favicon.svg' | url }}" />
  <link rel="mask-icon" href="{{ '/assets/favicon.svg' | url }}" color="#E01A4F">
  <link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | url }}">
  <link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">

	<meta name="twitter:card" content="summary_large_image" />
	{% if meta.twitterUsername %}
		<meta name="twitter:creator" content="@{{ meta.twitterUsername }}" />
	{% endif %}
	<meta name="twitter:title" content="{{ pageTitle }}" />
	<meta name="twitter:description" content="{{ pageDescription }}" />

	<meta name="og:title" content="{{ pageTitle }}" />
	<meta name="og:description" content="{{ pageDescription }}" />
	<meta property="og:image" content="{{ pageSocialImg }}" />
	<meta name="twitter:image" content="{{ pageSocialImg }}" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Petrona:ital,wght@1,500&family=Work+Sans:ital,wght@0,360;0,560;1,360&family=Fira+Code&display=swap">
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />

	<script>
		(function() {
			document.documentElement.removeAttribute("data-no-js");
			localStorage.getItem('theme') && document.documentElement.setAttribute('data-theme', localStorage.getItem('theme'));
		})();
	</script>
</head>

<body>
	<header class="header wrapper flow">
		<a class="skip-to-content" href="#main">
			Skip to content
			<svg class="icon" viewBox="0 0 24 24" aria-hidden="true">
				<path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" />
			</svg>
		</a>

		{% if pageUrlLength > 1 %}
			<a class="home-link" href="{{ '/' | url }}" title="Go to site homepage">
				<svg class="icon" aria-hidden="true" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><line x1="216" y1="128" x2="40" y2="128" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><polyline points="112 56 40 128 112 200" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
			</a>
		{% endif %}

		{% block header %}
		  <h1 class="title">{{ title }}</h1>
			{% if subtitle %}
				<p class="subtitle">{{ subtitle }}</p>
			{% endif %}
		{% endblock %}

		{% include "social-navigation.njk" %}
	</header>

	<main id="main">
		{% block content %}
			<article class="content wrapper flow">
				{{ content | safe }}
			</article>
		{% endblock %}
	</main>

	<footer class="wrapper">
		<p class="footer-copy">© {% year %} assembled by Ryan Mulligan, with love. Bring it on <a title="Go to the site homepage" href="{{ '/' | url }}">home</a></p>
	</footer>

	{% block scripts %}{% endblock %}
</body>
</html>