<!DOCTYPE html>
<html lang="en" data-no-js>
	{%- set pageTitle %}
	{%- if title -%}{{ title }} | {% endif %}{{ meta.siteName }}{% endset -%}
	{%- set pageDescription %}
	{%- if description -%}{{ description }}
	{%- else -%}{{ meta.siteDescription }}
	{%- endif -%}{% endset -%}
	{%- set pageSocialImg %}
	{% if '/blog' in page.url %}{{ meta.url }}/assets/social/{{ title | slug }}.png{% else %}{{ meta.url }}/assets/social-image-default.png{% endif %}{% endset -%}

	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

		<title>{{ pageTitle }}</title>
		<meta name="description" content="{{ pageDescription }}"/>
		<meta name="generator" content="Eleventy">

		<link rel="icon" href="{{ '/assets/favicon.svg' | url }}"/>
		<link rel="mask-icon" href="{{ '/assets/favicon.svg' | url }}" color="#E01A4F">
		<link rel="apple-touch-icon" href="{{ '/assets/apple-touch-icon.png' | url }}">
		<link rel="manifest" href="{{ '/manifest.webmanifest' | url }}">

		<meta name="twitter:card" content="summary_large_image"/>
		{% if meta.twitterUsername %}<meta name="twitter:creator" content="@{{ meta.twitterUsername }}"/>{% endif %}
		<meta name="twitter:title" content="{{ pageTitle }}"/>
		<meta name="twitter:description" content="{{ pageDescription }}"/>

		<meta name="og:title" content="{{ pageTitle }}"/>
		<meta name="og:description" content="{{ pageDescription }}"/>
		<meta property="og:image" content="{{ pageSocialImg }}"/>
		<meta name="twitter:image" content="{{ pageSocialImg }}"/>

		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Petrona:ital,wght@1,500&family=Work+Sans:ital,wght@0,360;0,560;1,360&family=Fira+Code&display=swap">
		<link rel="stylesheet" href="{{ '/css/theme.css' | url }}"/>
		<link rel="stylesheet" href="{{ '/css/style.css' | url }}"/>

		<script>
			(function () {
				const html = document.documentElement;
				const theme = localStorage.getItem('theme');
				const colorScheme = localStorage.getItem('color-scheme');

				html.removeAttribute("data-no-js");
				colorScheme && html.setAttribute('data-color-scheme', colorScheme);
				theme && html.setAttribute('data-theme', theme);
			})();
		</script>
	</head>

	<body data-page="{{ page.fileSlug or 'home' }}">
		<header class="header wrapper flow">
			<a class="skip-to-content" href="#main">
				Skip to main content
				<svg class="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
					<path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
				</svg>
			</a>

			{% block header %}
				<h1 class="title">{{ title }}</h1>
				{% if subtitle %}
					<p class="subtitle">{{ subtitle }}</p>
				{% endif %}
			{% endblock %}
		</header>

		{% include "navigation.njk" %}

		<main id="main">
			{% block content %}
				<article class="content wrapper flow">
					{{ content | safe }}
				</article>
			{% endblock %}
		</main>

		<footer class="wrapper">
			<p class="footer-copy">
			© {% year %} assembled by Ryan Mulligan, with love. Bring it on <a title="Go to the site homepage" href="{{ '/' | url }}">home</a> ⫶ <a href="{{ '/blog/feed.xml' | url }}">RSS feed</a>
			</p>
		</footer>

		<script src="{{ '/scripts/main.js' | url }}"></script>
		<script src="{{ '/scripts/theme.js' | url }}" async></script>
		{% block scripts %}{% endblock %}
		<script async defer src="https://scripts.withcabin.com/hello.js"></script>
	</body>
</html>