<p
  class="codepen-embed full-bleed"
  data-height="{{ height }}"
  data-default-tab="result"
  data-slug-hash="{{ slugHash }}"
  data-user="{{ user }}"
>
  <span>See the Pen <a href="{{ url }}">
    Section keyboard navigation with arrow keys</a> by Ryan Mulligan (<a href="https://codepen.io/hexagoncircle">@hexagoncircle</a>) on <a href="https://codepen.io">CodePen</a>.
  </span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>