<div class="employment-list">
  <dl>
    <div>
      <dt>Netlify</dt>
      <dd class="employment-location">Remote</dd>
    </div>
    <div>
      <dd class="employment-role">Marketing Engineering Lead</dd>
      <dd class="employment-info">February 2022 – Present</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Inspirato</dt>
      <dd class="employment-location">Denver, CO / Remote</dd>
    </div>
    <div>
      <dd class="employment-role">Manager, UI Engineering</dd>
      <dd class="employment-info">May 2021 – January 2022</dd>
      <dd class="employment-role">Senior UI Engineer</dd>
      <dd class="employment-info">August 2019 – May 2021</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Elevated Third</dt>
      <dd class="employment-location">Seattle, WA</dd>
    </div>
    <div>
      <dd class="employment-role">Senior Front-end Developer</dd>
      <dd class="employment-info">July 2018 – April 2019</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Expedia Group</dt>
      <dd class="employment-location">Bellevue, WA</dd>
    </div>
    <div>
      <dd class="employment-role">Software Dev Engineer II</dd>
      <dd class="employment-info">June 2017– May 2018</dd>
      <dd class="employment-role">Senior Design Engineer</dd>
      <dd class="employment-info">June 2016 – June 2017</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Elevated Third</dt>
      <dd class="employment-location">Denver, CO</dd>
    </div>
    <div>
      <dd class="employment-role">Senior Developer</dd>
      <dd class="employment-info">May 2012 – May 2016</dd>
    </div>
  </dl>
  <dl>
    <div>
      <dt>Entravision Communications</dt>
      <dd class="employment-location">Denver, CO</dd>
    </div>
    <div>
      <dd class="employment-role">Interactive Content Publisher</dd>
      <dd class="employment-info">January 2010 – January 2012</dd>
    </div>
  </dl>
</div>