<header class="page-header">
  <a class="skip-to-content" href="#main">
    Skip to main content
    <svg class="icon" aria-hidden="true" width="24" height="24" viewBox="0 0 24 24">
      <path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/>
    </svg>
  </a>

  {% include "navigation.njk" %}
</header>