{% extends "base.njk" %}

{% block header %}
  <h1 class="title">Ryan Mulligan</h1>
  <p class="subtitle">Your friendly front-end interface and experience engineer</p>
{% endblock %}

{% block content %}
  {% include "projects.njk" %}

  <article class="content wrapper flow">
    {{ content | safe }}
  </article>
{% endblock %}

{% block scripts %}
  <script src="{{ '/scripts/projects.js' | url }}" defer></script>
{% endblock %}