{% extends "base.njk" %}

{% block header %}
  <h1 class="title">Ryan Mulligan</h1>
  <p class="visually-hidden">Your friendly front-end interface and experience engineer</p>

  <div aria-hidden="true" class="subtitle">
    <span>your friendly</span>
    <div>
      front-end interface
      {% include "theme-slider.njk" %}
    </div>
    <span>& experience engineer</span>
  </div>
{% endblock %}

{% block content %}
  {% include "projects.njk" %}

  <article class="content wrapper flow">
    {{ content | safe }}
  </article>
{% endblock %}

{% block scripts %}
	<script src="{{ '/scripts/main.js' | url }}" defer></script>
	<script src="{{ '/scripts/projects.js' | url }}" defer></script>
{% endblock %}