<nav class="main-navigation">
  {% include "theme-controls.njk" %}

  <ul class="nav-list">
    {% if page.url !== "/" %}
      <li>
        <a class="home-link" href="{{ '/' | url }}" title="Travel back home">
          {{ 'ufo' | icon | svgContents | safe }}
        </a>
      </li>
    {% endif %}
    <li>
      <a href="https://fosstodon.org/@hexagoncircle" title="Follow me on Mastodon" target="_blank" rel="me">
        {{ 'mastodon' | icon | svgContents | safe }}
      </a>
    </li>
    <li>
      <a class="link" href="https://www.codepen.io/hexagoncircle" title="Check out my projects on CodePen" target="_blank" rel="me">
        {{ 'codepen' | icon | svgContents | safe }}
      </a>
    </li>
    <li>
      <a class="link" href="https://github.com/hexagoncircle" title="Find me on GitHub" target="_blank" rel="me">
        {{ 'github' | icon | svgContents | safe }}
      </a>
    </li>
  </ul>
</nav>