{% extends "base.njk" %}

{% block header %}
  <h1 class="title">{{ title }}</h1>

  {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
  {% endif %}

  {% if meta %}
    <div class="meta">
      <p>
        <svg class="icon" aria-hidden="true" fill="var(--color-icon)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><rect x="40" y="40" width="176" height="176" rx="8" stroke-width="16" stroke="var(--color-icon)" stroke-linecap="round" stroke-linejoin="round" fill="none"></rect><line x1="176" y1="24" x2="176" y2="56" fill="none" stroke="var(--color-icon)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="80" y1="24" x2="80" y2="56" fill="none" stroke="var(--color-icon)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line><line x1="40" y1="88" x2="216" y2="88" fill="none" stroke="var(--color-icon)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></line></svg>
        Posted on {{ page.date | postDate }}</p>
      <p>
        <svg class="icon" aria-hidden="true" fill="var(--color-icon)" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><circle cx="128" cy="128" r="96" fill="none" stroke="var(--color-icon)" stroke-miterlimit="10" stroke-width="16"></circle><polyline points="128 72 128 128 184 128" fill="none" stroke="var(--color-icon)" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></polyline></svg>
        About {{ content | timeToRead }} of reading time
      </p>
    </div>
  {% endif %}
{% endblock %}