{% extends "base.njk" %}

{% block header %}
  <h1 class="title">{{ title }}</h1>

  {% if subtitle %}
    <p class="subtitle">{{ subtitle }}</p>
  {% endif %}

  {% if meta %}
    <div class="meta">
      <p>Posted on {{ page.date | postDate }}</p>
    </div>
  {% endif %}
{% endblock %}