<article class="projects-container scroll-x">
  <ul class="projects" role="list">
    {% for project in projects %}
      <li class="item">
        <a href="https://codepen.io/hexagoncircle/full/{{ project.id }}" target="_blank" rel="noopener">
          <span class="visually-hidden">{{ project.title }}</span>
          {% if loop.index < 5 %}
            {% set src = ["./src/assets/images/codepen/", project.id, ".jpg"] | join %}
            {% image src,
            "" %}
          {% else %}
            <img src="https://codepen.io/hexagoncircle/pen/{{ project.id }}/image/small.png" alt="" loading="lazy" data-is-loading/>
          {% endif %}
        </a>
      </li>
    {% endfor %}

    <template id="projects-focus-text-template">
      <p id="projects-focus-text">
        <span>Navigate with left and right arrow keys</span>
        <svg
          class="icon focus-arrows"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentcolor"
          viewBox="0 0 256 256"
        >
          <rect width="256" height="256" fill="none"></rect>
          <polyline
            points="160 48 208 48 208 96"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></polyline>
          <line
            x1="152"
            y1="104"
            x2="208"
            y2="48"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></line>
          <polyline
            points="96 208 48 208 48 160"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></polyline>
          <line
            x1="104"
            y1="152"
            x2="48"
            y2="208"
            fill="none"
            stroke="currentcolor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="16"
          ></line>
        </svg>
      </p>
    </template>
  </ul>
</article>

{% block scripts %}
  <script type="module" src="/assets/js/projects.js"></script>
{% endblock %}