<label for="theme" class="visually-hidden theme-slider-label">Slide to change the theme</label>
<input title="Slide to change the theme" class="theme-slider" type="range" id="theme" name="theme" min="1" max="4" value="1"/>