{% set webmentionsPageUrl %}{{ page.url | url | absoluteUrl(meta.baseUrl) }}{% endset %}
{% set mentions = webmentions | getWebmentionsForUrl(webmentionsPageUrl) %}
{% set reposts = mentions | getWebmentionsByType('repost-of') %}
{% set repostsSize = reposts | getWebmentionsSize %}
{% set likes = mentions | getWebmentionsByType('like-of') %}
{% set likesSize = likes | getWebmentionsSize %}
{% set replies = mentions | getWebmentionsByType('in-reply-to, mention-of')  %}
{% set repliesSize = replies | getWebmentionsSize %}

{% if likes.length or reposts.length or replies.length %}
  <section class="webmentions">
    <h2 class="section-title">
      <strong>Webmentions</strong> for this post 
      <a href="https://indieweb.org/webmention.io" title="What are webmentions?" target="_blank">
        {{ 'question' | icon | svgContents | safe }}
      </a>
    </h2>
    {% if likes.length %}
      <details>
        <summary class="heading">
          <strong>{{ likes.length }}</strong> likes
        </summary>
        <ul class="webmentions-list" role="list">
          {% for item in likes %}
            <li>
              <a class="author-source" href="{{ item.author.url }}" target="_blank" title="{{ item.author.name }}">
                {% image item.author.photo,
                "" %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if reposts.length %}
      <details>
        <summary class="heading">
          <strong>{{ reposts.length }}</strong> reposts
        </summary>
        <ul class="webmentions-list" role="list">
          {% for item in reposts %}
            <li>
              <a class="author-source" href="{{ item.author.url }}" target="_blank" title="{{ item.author.name }}">
                {% image item.author.photo,
                "" %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}

    {% if replies.length %}
      <details>
        <summary class="heading">
          <strong>{{ replies.length }}</strong> replies
        </summary>
        <ul class="webmentions-replies" role="list">
          {% for item in replies %}
            <li class="reply">
              <a class="author-source" href="{{ item.author.url }}" target="_blank" title="{{ item.author.name }}">
                {% if item.author.photo %}
                  {% image item.author.photo,
                  item.author.name %}
                {% else %}
                  <div class="image"></div>
                {% endif %}
              </a>
              <p>
                {{ item.content.text }}
                <a class="reply-source" href="{{ item.url }}" target="_blank" title="Go to source of this reply">
                  {{ 'arrow-square-out' | icon | svgContents | safe }}
                </a>
              </p>
            </li>
          {% endfor %}
        </ul>
      </details>
    {% endif %}
  </section>
{% endif %}