@mixin current-mode($value) {
  @if $value == "dark" {
    .light {
      display: none;
    }
    .dark {
      display: block;
    }
  } @else {
    .light {
      display: block;
    }
    .dark {
      display: none;
    }
  }
}

[id="toggle-color-scheme"] {
  @include current-mode(light);

  @media (prefers-color-scheme: dark) {
    @include current-mode(dark);
  }

  [data-color-scheme="light"] & {
    @include current-mode(light);
  }

  [data-color-scheme="dark"] & {
    @include current-mode(dark);
  }

  display: flex;
  align-items: center;
  padding: var(--space-xs);
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }
}
