.header {
  --flow: var(--space-base);
  position: relative;
  margin-top: calc(var(--space-lg) * -1);
}

.main-navigation .icon {
  --size: clamp(1.5rem, 1.5vw, 1.75rem);
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
}

.home-link {
  display: flex;
  margin-top: unset;
  padding: var(--space-xs);
  font-size: var(--text-sm);
  line-height: 1.4;
  text-decoration: none;
  z-index: 1;

  + * {
    margin-left: calc(var(--space-sm) * -1);
  }
}

.main-navigation {
  --padding: clamp(var(--space-sm), 0.8vw, var(--space-base));
  order: -1;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--padding) calc(var(--page-padding) - var(--space-sm));
  width: 100%;
  z-index: 1;
}

.social-nav-list {
  display: flex;
  gap: var(--padding);
  margin-left: auto;
}

.social-nav-list .link {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
}

.title {
  --flow: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--color-primary);
  transition: color var(--duration) var(--ease);
}

.subtitle {
  font-style: italic;
  font-family: var(--font-family-accent);
  font-size: var(--text-md-accent);
  font-weight: 500;
  line-height: 1.25;
  width: 100%;

  [data-page="home"] & {
    max-width: 24ch;
  }
}

.meta {
  font-size: var(--text-sm);
}

.meta > * {
  display: flex;
  align-items: center;
}

.meta .icon {
  --size: 1.4em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  margin-inline-end: var(--space-xs);
}

.skip-to-content {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  place-self: start;
  margin-left: 0.3rem;
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  &:focus {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
    outline-offset: 3px;
  }
}

.skip-to-content .icon {
  width: 1.125em;
  height: 1.125em;
  fill: currentColor;
}
