.header {
  --flow: var(--space-base);
  position: relative;
}

.title {
  --flow: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--color-primary);
}

.subtitle {
  font-style: italic;
  font-family: var(--font-family-accent);
  font-size: var(--text-md-accent);
  font-weight: 500;
  line-height: 1.25;
  width: 100%;

  [data-page="home"] & {
    max-width: 24ch;
  }
}

.meta {
  font-size: var(--text-sm);
}

.meta > * {
  display: flex;
  align-items: center;
}

.meta .icon {
  --size: 1.4em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  margin-inline-end: var(--space-xs);
}

.skip-to-content {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  place-self: start;
  margin-top: -2ex;
  margin-left: 0.3rem;
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  &:focus {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
    outline-offset: 3px;
  }
}

.skip-to-content .icon {
  width: 1.125em;
  height: 1.125em;
  fill: currentColor;
}
