.main-navigation {
  --padding: clamp(var(--space-sm), 0.8vw, var(--space-base));
  order: -1;
  position: sticky;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--space-sm);
  padding: var(--padding) calc(var(--page-padding) - var(--space-sm));
  width: 100%;
  z-index: 1;
}

.main-navigation .icon {
  --size: clamp(1.5rem, 1.5vw, 1.75rem);
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
}

.home-link {
  display: flex;
  margin-top: unset;
  padding: var(--space-xs);
  font-size: var(--text-sm);
  line-height: 1.4;
  text-decoration: none;
  z-index: 1;

  + * {
    margin-left: calc(var(--space-sm) * -1);
  }
}

.social-nav-list {
  display: flex;
  gap: var(--padding);
  margin-left: auto;

  .link {
    display: flex;
    align-items: center;
    padding: var(--space-xs);
  }
}
