.theme-slider {
  flex: 1 1 0;
  width: 100%;
  max-width: 4.5rem;
}

.theme-slider-label {
  user-select: none;
}

input[type="range"] {
  --thumb-size: 12px;
  --thumb-offset: -4px;
  --track-height: 4px;
  background-color: transparent;
  padding: var(--space-xs);
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: var(--track-height);
  background: var(--color-primary);
  border: none;
  border-radius: 360px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: var(--thumb-offset);
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-text);
  border: none;
  border-radius: 360px;
  cursor: grab;
  box-shadow: inset var(--color-bg) 0 0 0 2px, var(--color-text) 0 0 0 2px;
}

input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  background-color: var(--color-primary);
  height: var(--track-height);
  border: none;
  border-radius: 360px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-primary);
  border: none;
  border-radius: 360px;
  cursor: grab;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}
