body {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-primary);
  font-size: var(--font-0);
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
  transition: var(--duration) var(--ease);
  transition-property: background-color, color;
}

a {
  color: var(--color-secondary);
}

a:hover,
a:focus-visible {
  color: var(--color-text-accent);
}

:is(a:focus-visible, button:focus-visible, input:focus-visible, .projects:focus-visible) {
  outline: var(--outline);
  outline-offset: var(--outline-offset);
}

small {
  font-size: var(--text-sm);
}

:is(h1, h2, h3, h4, h5) {
  font-family: var(--font-secondary);
  font-weight: var(--font-weight-bold);
}

ul,
ol {
  padding-inline-start: 1rem;
}

ul[class]:not(.multi-column),
ol[class]:not(.multi-column) {
  padding-inline-start: 0;
  list-style-type: none;
}

li::marker {
  color: var(--color-primary);
}
