.content > * {
  grid-column: content;
}

.content blockquote,
.content blockquote + * {
  --space: var(--space-lg);
}

.content blockquote code {
  font-size: 0.75em;
}

.content pre[class*="language-"],
.content pre[class*="language-"] + *:not(h2) {
  --space: var(--space-lg);
}

.content .image,
.content .image + * {
  --space: var(--space-xl);
}

.content .callout,
.content .callout + * {
  --space: var(--space-lg);
}

.content .cp_embed_wrapper,
.content .cp_embed_wrapper + script + *:not(h2) {
  --space: var(--space-xl);
}

.content h2 {
  --space: var(--space-xl);
  font-size: var(--font-3);
  line-height: 1.1;
}

.content h3 {
  font-size: var(--font-2);
  line-height: 1.2;
}

.content pre {
  grid-column: popout;
}

.content p:has(picture) {
  grid-column: feature;
}

.content img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
  border-radius: clamp(
    0px,
    ((100vw - var(--radius-md) / 2) - 100%) * 9999,
    var(--radius-md)
  );
}

.content blockquote {
  position: relative;
  padding: var(--space-2xs) var(--space-md);
  font-family: var(--font-secondary);
  font-size: var(--font-1);
  font-weight: var(--font-weight-lite);
  line-height: 1.3;
  color: var(--color-text-accent);
}

.content blockquote::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 6px;
  height: 100%;
  background-color: var(--color-primary);
  border-radius: var(--radius-pill);
}

.content blockquote figcaption {
  margin-block-start: 2rem;
  font-size: 0.6em;
  font-family: var(--font-primary);
  font-weight: normal;
  line-height: 1.3;
  text-align: right;
  color: #747474;
}

.content > :where(ul, ol) li + li {
  margin-block-start: var(--space-2xs);
}

summary {
  display: inline;
  cursor: pointer;
}

summary::marker {
  content: none;
}

summary::-webkit-details-marker {
  display: none;
}

summary::before {
  content: "+";
}

details[open] summary::before {
  content: "−";
}

.content .cp_embed_wrapper {
  grid-column: full;
  width: min(60rem, 100% - var(--page-padding) * 2);
  margin-inline: auto;
}

.source {
  display: block;
  font-size: 0.8em;
}

.callout {
  --border-width: 0.125rem;
  --border: var(--border-width) solid var(--color-primary);
  position: relative;
  padding: 1.5em;
  padding-inline-start: 2em;
  border: var(--border);
  border-radius: var(--radius-sm);
  background-color: var(--color-bg-accent);
  box-shadow: var(--space-2xs) var(--space-2xs) 0 var(--color-bg-shadow);
}

.callout::before {
  --size: 2.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  content: "🙌";
  font-size: 1.25em;
  line-height: 1;
  position: absolute;
  top: 0.6em;
  left: calc((var(--size) / -2) - (var(--border-width) / 2));
  width: var(--size);
  height: var(--size);
  border: var(--border);
  background-color: var(--color-bg);
  border-radius: 100%;
}

.callout code {
  background-color: var(--color-bg);
}

.image {
  grid-column: feature;
}

.image.full {
  grid-column: full;
  border-radius: unset;
}

.image figcaption {
  margin-block-start: 0.5rem;
  padding-inline: var(--space-md);
  font-size: 0.8em;
  font-style: italic;
  line-height: 1.3;
  text-align: center;
  color: var(--color-text-accent);
}

.title {
  font-size: var(--font-5);
  line-height: 1;
}

.subtitle {
  --space: 1rem;
  font-family: var(--font-secondary);
  font-size: var(--font-2);
  font-weight: var(--font-weight-lite);
  line-height: 1.2;
  max-width: 35ch;
  color: var(--color-text-accent);
}

.info {
  --space: 1rem;
  margin-block-end: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.3rem 1rem;
  font-size: 0.8em;
}

.info svg {
  --size: 2em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  transform: rotate(-10deg);
}

.info > * {
  display: flex;
  gap: 0.3rem;
  align-items: center;
  line-height: 1.2;
}

.focus-arrows {
  flex-shrink: 0;
  color: var(--color-secondary);
  transform: rotate(45deg);
}

.cta {
  display: inline-block;
}

.cta:has(:hover, :focus-visible)::after {
  color: var(--color-secondary);
  animation: cta 400ms var(--ease) infinite;
}

@keyframes cta {
  50% {
    transform: translateX(2px);
  }
}

.cta::after {
  content: "→";
  display: inline-flex;
  margin-inline-start: var(--space-3xs);
}

.articles-list > li + li {
  margin-block-start: var(--space-sm);
  padding-block-start: var(--space-sm);
  border-block-start: 1px solid var(--color-bg-accent);
}

.webmentions {
  --border-width: 4px;
  --offset: calc((var(--border-width) * 3));
  position: relative;
  border-block-start: 1px solid var(--color-bg-accent);
  padding-block-start: var(--space-sm);
}

.webmentions .section-title {
  font-size: var(--font-0);
  font-family: inherit;
  font-weight: inherit;
  margin-block-end: var(--space-2xs);
}

.webmentions .section-title a {
  display: inline-block;
  margin-inline-start: -0.1em;
  border-radius: var(--radius-round);
}

.webmentions .section-title svg {
  --size: 1.2em;
  display: block;
  width: var(--size);
  height: var(--size);
}

.webmentions-list,
.webmentions-comments {
  margin-block: var(--space-3xs) var(--space-sm);
}

.webmentions-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: calc(var(--offset) - var(--border-width));
}

.webmentions-list li {
  margin-inline-start: calc(var(--offset) * -1);
}

.webmentions-list li:hover,
.webmentions-list li:focus-within {
  z-index: 1;
}

.webmentions-list li:hover img,
.webmentions-list a:focus-visible img {
  outline: inherit;
  border-width: calc(var(--border-width) / 2);
}

.webmentions-list a {
  display: block;
  border-radius: var(--radius-round);
}

.webmentions img {
  max-width: 50px;
  height: auto;
  aspect-ratio: 1;
  border-radius: var(--radius-round);
  border: var(--border-width) solid var(--color-bg);
  background-color: var(--color-bg);
}

.webmentions-comments .comment {
  display: flex;
  align-items: center;
  font-size: var(--font--1);
  margin-block-start: var(--space-2xs);
}

.webmentions-comments .comment a {
  position: relative;
  flex-shrink: 0;
  align-self: baseline;
  border-radius: var(--radius-round);
}

.webmentions-comments .comment p {
  padding: var(--space-xs);
  padding-inline-start: var(--space-md);
  margin-inline-start: calc(var(--space-xs) * -1);
  inline-size: 100%;
  background-color: var(--color-bg-accent);
  border-radius: var(--radius-sm);
  line-height: 1.4;
  word-break: break-word;
}
