[data-theme-controls] {
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

[data-no-js] [data-theme-controls] {
  display: none;
}

.color-scheme-toggle {
  --icon-dash-ray: 80;
  --icon-dash-horizon: 250;
  --icon-dash-sun: 250;
  --icon-dash-moon: 700;

  position: relative;
  display: grid;
  grid-template-areas: "toggle";
  place-items: center;
  padding: var(--space-2xs);
  color: var(--color-text);
  background-color: transparent;
  border: none;
  border-radius: var(--radius-pill);
  cursor: pointer;
}

.color-scheme-toggle > * {
  grid-area: toggle;
}

.color-scheme-toggle:active {
  transform: translateY(1px);
}

/**
 * Toggle icon visibility
 */
.color-scheme-toggle .light {
  opacity: 1;
}

.color-scheme-toggle .dark {
  opacity: 0;
}

@media (prefers-color-scheme: dark) {
  .color-scheme-toggle .light {
    opacity: 0;
  }
  .color-scheme-toggle .dark {
    opacity: 1;
  }
}

[data-color-scheme="dark"] .color-scheme-toggle .light,
[data-color-scheme="light"] .color-scheme-toggle .dark {
  opacity: 0;
}

[data-color-scheme="light"] .color-scheme-toggle .light,
[data-color-scheme="dark"] .color-scheme-toggle .dark {
  opacity: 1;
}

/**
 * Light icon transitions
 */
@media (prefers-color-scheme: dark) {
  .color-scheme-toggle .light line:nth-of-type(-n + 4) {
    stroke-dashoffset: var(--icon-dash-ray);
  }
  .color-scheme-toggle .light line:nth-last-of-type(-n + 2) {
    stroke-dashoffset: var(--icon-dash-horizon);
  }
  .color-scheme-toggle .light path {
    stroke-dashoffset: var(--icon-dash-sun);
  }
}

.color-scheme-toggle .light line:nth-of-type(-n + 4) {
  stroke-dasharray: var(--icon-dash-ray);
}

[data-color-scheme="dark"]
  .color-scheme-toggle
  .light
  line:nth-of-type(-n + 4) {
  stroke-dashoffset: var(--icon-dash-ray);
}

[data-color-scheme="light"]
  .color-scheme-toggle
  .light
  line:nth-of-type(-n + 4) {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset calc(var(--duration) * 4) 0.2s var(--ease);
}

[data-color-scheme="light"] .color-scheme-toggle .light line:nth-of-type(2) {
  transition-delay: 0.3s;
}
[data-color-scheme="light"] .color-scheme-toggle .light line:nth-of-type(3) {
  transition-delay: 0.4s;
}
[data-color-scheme="light"] .color-scheme-toggle .light line:nth-of-type(4) {
  transition-delay: 0.5s;
}

.color-scheme-toggle .light line:nth-last-of-type(-n + 2) {
  transform: scaleX(-1);
  transform-origin: center;
  stroke-dasharray: var(--icon-dash-horizon) var(--icon-dash-horizon);
}

[data-color-scheme="dark"]
  .color-scheme-toggle
  .light
  line:nth-last-of-type(-n + 2) {
  stroke-dashoffset: var(--icon-dash-horizon);
}

[data-color-scheme="light"]
  .color-scheme-toggle
  .light
  line:nth-last-of-type(-n + 2) {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset calc(var(--duration) * 2) var(--ease);
}

[data-color-scheme="light"]
  .color-scheme-toggle
  .light
  line:nth-last-of-type(1) {
  transition-delay: 0.2s;
}

.color-scheme-toggle .light path {
  stroke-dasharray: var(--icon-dash-sun);
}

[data-color-scheme="dark"] .color-scheme-toggle .light path {
  stroke-dashoffset: var(--icon-dash-sun);
}

[data-color-scheme="light"] .color-scheme-toggle .light path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset calc(var(--duration) * 2) 0.2s var(--ease);
}

/**
 * Dark icon transitions
 */
@media (prefers-color-scheme: light) {
  .color-scheme-toggle .dark line {
    opacity: 0;
  }
  .color-scheme-toggle .dark path {
    stroke-dashoffset: var(--icon-dash-moon);
  }
}

[data-color-scheme="light"] .color-scheme-toggle .dark line {
  opacity: 0;
}

[data-color-scheme="dark"] .color-scheme-toggle .dark line {
  opacity: 1;
  transition: opacity var(--duration) 0.2s var(--ease);
}

[data-color-scheme="dark"] .color-scheme-toggle .dark line:nth-of-type(3) {
  transition-delay: 0.3s;
}
[data-color-scheme="dark"] .color-scheme-toggle .dark line:nth-of-type(4) {
  transition-delay: 0.3s;
}

.color-scheme-toggle .dark path {
  stroke-dasharray: var(--icon-dash-moon);
}

[data-color-scheme="light"] .color-scheme-toggle .dark path {
  stroke-dashoffset: var(--icon-dash-moon);
}

[data-color-scheme="dark"] .color-scheme-toggle .dark path {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset calc(var(--duration) * 4) var(--ease);
}

/**
 * Focus-visible icon
 */
.color-scheme-toggle .focus-arrows {
  display: none;
  position: absolute;
  top: var(--space-sm);
  left: calc(100% + var(--space-sm));
  color: var(--color-secondary);
  pointer-events: none;
}

.color-scheme-toggle:focus-visible .focus-arrows {
  display: block;
}

/**
 * Range slider
 */
.theme-slider {
  flex: 1 1 0;
  width: 100%;
  max-width: 4.5rem;
}

.theme-slider-label {
  user-select: none;
}

input[type="range"] {
  --thumb-size: 15px;
  --thumb-offset: -5px;
  --track-height: 5px;
  background-color: transparent;
  -webkit-appearance: none;
  cursor: pointer;
  padding-block: 0.5rem;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: var(--track-height);
  background: var(--color-primary);
  border: none;
  border-radius: var(--radius-pill);
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  margin-top: var(--thumb-offset);
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-text);
  border: none;
  border-radius: var(--radius-round);
  cursor: grab;
  box-shadow: inset var(--color-bg) 0 0 0 4px, var(--color-text) 0 0 0 2px;
}

input[type="range"]:active::-webkit-slider-thumb {
  cursor: grabbing;
}

input[type="range"]::-moz-range-track {
  background-color: var(--color-primary);
  height: var(--track-height);
  border: none;
  border-radius: var(--radius-pill);
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  margin-top: var(--thumb-offset);
  width: var(--thumb-size);
  height: var(--thumb-size);
  background-color: var(--color-text);
  border: none;
  border-radius: var(--radius-round);
  cursor: grab;
  box-shadow: inset var(--color-bg) 0 0 0 4px, var(--color-text) 0 0 0 2px;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: grabbing;
}
