:root {
  /* @link https://utopia.fyi/type/calculator?c=400,16,1.2,1200,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --font--2: clamp(0.69rem, calc(0.64rem + 0.21vw), 0.8rem);
  --font--1: clamp(0.83rem, calc(0.75rem + 0.33vw), 1rem);
  --font-0: clamp(1rem, calc(0.88rem + 0.5vw), 1.25rem);
  --font-1: clamp(1.2rem, calc(1.02rem + 0.73vw), 1.56rem);
  --font-2: clamp(1.44rem, calc(1.18rem + 1.03vw), 1.95rem);
  --font-3: clamp(1.73rem, calc(1.37rem + 1.43vw), 2.44rem);
  --font-4: clamp(2.07rem, calc(1.58rem + 1.96vw), 3.05rem);
  --font-5: clamp(2.49rem, calc(1.82rem + 2.65vw), 3.82rem);

  --font-weight-lite: 100;
  --font-weight-md: 300;
  --font-weight-bold: 700;

  --font-fallback: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  --font-primary: system-ui, var(--font-fallback);
  --font-secondary: "Quincy CF", var(--font-fallback);
  --font-monospace: "Jet Brains Mono", monospace;

  --radius-xs: 0.25rem;
  --radius-sm: 0.4rem;
  --radius-md: 0.8rem;
  --radius-pill: 360px;
  --radius-round: 50%;

  /* @link https://utopia.fyi/space/calculator?c=320,16,1.2,1140,18,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.12vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.48rem + 0.12vw), 0.56rem);
  --space-xs: clamp(0.75rem, calc(0.7rem + 0.24vw), 0.88rem);
  --space-sm: clamp(1rem, calc(0.95rem + 0.24vw), 1.13rem);
  --space-md: clamp(1.5rem, calc(1.43rem + 0.37vw), 1.69rem);
  --space-lg: clamp(2rem, calc(1.9rem + 0.49vw), 2.25rem);
  --space-xl: clamp(3rem, calc(2.85rem + 0.73vw), 3.38rem);
  --space-2xl: clamp(4rem, calc(3.8rem + 0.98vw), 4.5rem);
  --space-3xl: clamp(6rem, calc(5.71rem + 1.46vw), 6.75rem);

  --duration: 200ms;
  --ease: cubic-bezier(0.33, 1, 0.68, 1);

  --page-max-width: 55ch;
  --page-padding: clamp(var(--space-sm), 6vw, var(--space-md));

  --column-gap: var(--space-md);
  --column-width: 250px;

  --outline: 2px solid var(--color-secondary);
  --outline-offset: 2px;
}
