.webmentions {
  --border-width: 4px;
  --offset: calc((var(--border-width) * 3));
  position: relative;
  border-block-start: 1px solid var(--color-bg-accent);
  padding-block-start: var(--space-sm);
}

.webmentions .section-title {
  font-size: var(--font-0);
  font-family: inherit;
  font-weight: inherit;
  margin-block-end: var(--space-2xs);
}

.webmentions .section-title a {
  display: inline-block;
  margin-inline-start: -0.1em;
  border-radius: var(--radius-round);
}

.webmentions .section-title svg {
  --size: 1.2em;
  display: block;
  width: var(--size);
  height: var(--size);
}

.webmentions-list,
.webmentions-replies {
  margin-block: var(--space-3xs) var(--space-sm);
}

.webmentions-list {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: calc(var(--offset) - var(--border-width));
}

.webmentions-list li {
  margin-inline-start: calc(var(--offset) * -1);
}

.webmentions-list li:hover,
.webmentions-list li:focus-within {
  z-index: 1;
}

.webmentions-list li:hover .image,
.webmentions-list a:focus-visible .image {
  outline: inherit;
  border-width: calc(var(--border-width) / 2);
}

.webmentions-list a {
  display: block;
  border-radius: var(--radius-round);
}

.webmentions .image {
  width: 3em;
  height: auto;
  aspect-ratio: 1;
  border-radius: var(--radius-round);
  border: var(--border-width) solid var(--color-bg);
  background-color: var(--color-bg-accent);
}

.webmentions-replies .reply {
  display: flex;
  align-items: center;
  font-size: var(--font--1);
  margin-block-start: var(--space-2xs);
}

.webmentions-replies .reply p {
  position: relative;
  padding: var(--space-xs);
  padding-inline-start: var(--space-md);
  margin-inline-start: calc(var(--space-xs) * -1);
  inline-size: 100%;
  background-color: var(--color-bg-accent);
  border-radius: var(--radius-sm);
  line-height: 1.4;
  word-break: break-word;
}

.webmentions-replies .author-source {
  position: relative;
  z-index: 1;
  flex-shrink: 0;
  align-self: baseline;
  border-radius: var(--radius-round);
}

.webmentions-replies .reply-source {
  display: grid;
  place-items: center;
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(0.25em, -0.25em);
}

.webmentions-replies .reply-source svg {
  --size: 1em;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
}

.webmentions-replies .reply p:focus-within {
  background-color: var(--color-bg-shadow);
}
