.main-navigation {
  order: -1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--page-padding);
  padding: var(--space-sm) calc(var(--page-padding) - var(--space-2xs));
}

.main-navigation .icon {
  --size: clamp(1.5rem, 1.5vw, 1.75rem);
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
}

.social-nav-list {
  display: flex;
  gap: var(--space-2xs);
  margin-left: auto;
}

.social-nav-list a {
  display: flex;
  align-items: center;
  padding: var(--space-2xs);
  border-radius: var(--radius-round);
}

/* 
.home-link[aria-hidden="true"] {
  pointer-events: none;
  user-select: none;
}

[data-path="home"] .home-link {
  animation: blast-off 1s var(--ease) forwards;
} */

@keyframes blast-off {
  20% {
    transform: translate(0, 5%);
  }
  40% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate(-5%, -100%);
  }
}

@media (hover: hover) and (pointer: fine) {
  .home-link:hover .ufo-group,
  .home-link:focus-visible .ufo-group {
    --duration: 500ms;
    animation: ufo-hover var(--duration) var(--ease) 3;
  }

  .home-link:hover .ufo-body,
  .home-link:focus-visible .ufo-body {
    animation: ufo-body var(--duration) var(--ease) 3;
  }

  .home-link:hover line,
  .home-link:focus-visible line {
    stroke-dasharray: 100;
    stroke-dashoffset: 0;
    animation: ufo-beam var(--duration) var(--ease) 3;
  }

  .home-link line:nth-of-type(2) {
    animation-delay: -0.05s;
  }

  .home-link line:nth-of-type(3) {
    animation-delay: -0.1s;
  }
}

@keyframes ufo-beam {
  50% {
    stroke-dashoffset: 150;
  }
}

@keyframes ufo-body {
  25% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
}

@keyframes ufo-hover {
  50% {
    transform: translateY(5%);
  }
}

.skip-to-content {
  position: fixed;
  top: var(--space-sm);
  left: calc(var(--page-padding) - var(--space-2xs));
  display: inline-flex;
  align-items: center;
  gap: 2px;
  padding: var(--space-3xs);
  place-self: start;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  background-color: var(--color-bg-accent);
  z-index: 1;
}

.skip-to-content:focus {
  opacity: 1;
  pointer-events: initial;
  user-select: initial;
  outline-offset: 3px;
}

.skip-to-content .icon {
  width: 1.125em;
  height: 1.125em;
  fill: currentColor;
}
