input:focus-visible {
  outline: var(--focus-outline);
}

input[type="checkbox"] {
  font: inherit;
  outline-offset: 3px;
  inline-size: var(--size-input);
  block-size: var(--size-input);
  border: 1px solid var(--color-theme-offset);
  flex-shrink: 0;
}
