/* Globals */
html:focus-within {
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

html,
body {
  height: 100%;
}

a {
  color: var(--color-secondary);
}

a:hover,
a:focus {
  color: var(--color-text);
}

a:focus,
input[type="range"]:focus,
.projects:focus-visible {
  outline: 2px dashed var(--color-secondary);
  outline-offset: var(--outline-offset);
}

.projects:focus-visible {
  outline-offset: -8px;
}

small {
  font-size: var(--text-sm);
}

input[type="range"]:focus {
  outline-offset: calc(var(--outline-offset) * 2);
}

em {
  font-style: italic;
}

body {
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-primary);
  font-size: var(--text-base);
  font-weight: 300;
  line-height: 1.6;
  transition: var(--duration) var(--ease);
  transition-property: background-color, color;
}

footer {
  justify-items: center;
  padding: var(--space-base) 0;
  font-size: var(--text-xs);
  line-height: 1.3;
  border-top: 2px dashed var(--color-bg-accent);
}

main {
  scroll-margin-top: var(--space-lg);
}

main > * + * {
  margin-top: var(--space-xl);
}
