/* Globals */
* {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;

  @media screen and (prefers-reduced-motion: reduce) {
    scroll-behavior: auto;
  }
}

a {
  color: var(--color-secondary);
}

a:hover,
a:focus {
  color: var(--color-text);
}

a:focus,
input[type="range"]:focus,
.projects:focus-visible {
  outline: 2px dashed var(--color-secondary);
  outline-offset: var(--outline-offset);
}

.projects:focus-visible {
  outline-offset: -8px;
}

input[type="range"]:focus {
  outline-offset: calc(var(--outline-offset) * 2);
}

em {
  font-style: italic;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
  font-family: var(--font-family-primary);
  font-size: var(--text-base);
  font-weight: 300;
  line-height: 1.6;
  transition: var(--duration) var(--ease);
  transition-property: background-color, color;
}

body {
  display: grid;
  grid-column-gap: var(--page-padding);
  grid-template-columns:
    1fr
    #{"min(var(--page-max-width), calc(100% - var(--page-padding) * 2))"}
    1fr;
}

main {
  display: contents;
}

body > * {
  grid-column: 2;
}
