.content {
  grid-column: 2;
}

.content ul {
  list-style-type: var(--list-style-type);
  margin-inline-start: var(--list-offset);

  li::marker {
    color: var(--list-marker-color);
    transition: color var(--duration) var(--ease);
  }
}

.content ol {
  list-style: decimal;
  margin-inline-start: 1.5rem;
}

.content li {
  margin-inline-end: var(--space-base);
  margin-block-end: var(--space-xs);
}

.content :is(h2, h3) {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-bold);
  line-height: 1.25;
}

.content h2 {
  --flow: var(--space-xl);
  font-size: var(--text-lg);
}

.content h3 {
  font-size: var(--text-md);
}

.content blockquote {
  border-inline-start: 2px dashed var(--color-primary);
  padding: var(--space-sm) var(--space-md);
  font-family: var(--font-family-accent);
  font-size: var(--text-md);
  font-style: italic;
}

.content pre[class*="language-"],
.content figure {
  margin-right: var(--page-content-offset);
  margin-left: var(--page-content-offset);
}

.content pre[class*="language-"] {
  padding: calc(var(--page-content-offset) * -1);
  border-radius: var(--border-radius);
}

.content figcaption {
  padding: 0 var(--space-sm);
  font-size: var(--text-xs);
  text-align: center;
}

.content s {
  text-decoration: line-through;
  font-style: italic;
}

.content strong {
  font-weight: var(--font-bold);
}

.content img {
  width: 100%;
  border-radius: var(--border-radius);
}

.content .source {
  display: block;
  font-size: var(--text-sm);
}

/* Hello link emoji interaction */
.hello-link:hover,
.hello-link:focus {
  + .himoji {
    display: inline-block;
    transform-origin: right bottom;
    animation: waving 300ms linear 3;
  }
}

@keyframes waving {
  50% {
    transform: rotate(15deg);
  }
}
