.content {
  grid-column: 2;

  > * {
    scroll-margin-top: var(--space-md);
  }
}

.content ul {
  list-style-type: var(--list-style-type);
  margin-inline-start: var(--list-offset);

  li::marker {
    color: var(--list-marker-color);
    transition: color var(--duration) var(--ease);
  }
}

.content ol {
  list-style: decimal;
  margin-inline-start: 1.5rem;
}

.content li {
  margin-inline-end: var(--space-base);
  margin-block-end: var(--space-xs);
}

.content :is(h2, h3) {
  font-family: var(--font-family-secondary);
  font-weight: var(--font-bold);
  line-height: 1.25;
}

.content h2 {
  --flow: var(--space-xl);
  font-size: var(--text-lg);

  + * {
    --flow: var(--space-base);
  }
}

.content h3 {
  --flow: var(--space-lg);
  font-size: var(--text-md);

  + * {
    --flow: var(--space-base);
  }
}

.content blockquote {
  border-inline-start: 2px dashed var(--color-primary);
  padding: var(--space-sm) var(--space-md);
  font-family: var(--font-family-accent);
  font-size: var(--text-md);
  font-style: italic;
}

.content pre[class*="language-"],
.content figure {
  margin-inline: var(--page-content-offset);
}

.content pre[class*="language-"] {
  padding: calc(var(--page-content-offset) * -1);
  border-radius: var(--border-radius);
}

.content figcaption {
  padding: 0 var(--space-sm);
  font-size: var(--text-xs);
  text-align: center;
}

.content s {
  text-decoration: line-through;
  font-style: italic;
}

.content strong {
  font-weight: var(--font-bold);
}

.content img {
  width: 100%;
  border-radius: var(--border-radius);
}

.content .source {
  display: block;
  font-size: var(--text-sm);
}

.content .callout {
  --border-width: 0.125rem;
  --border: var(--border-width) dashed var(--color-primary);
  position: relative;
  font-size: var(--text-sm);
  padding: calc(var(--space-md) / 1.5);
  padding-inline-start: var(--space-md);
  margin-inline-start: calc(var(--border-width) * -1);
  border-inline-start: var(--border);
  background-color: var(--color-bg-accent);

  &::before {
    --size: 2.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    content: "🙌";
    font-size: 1.25em;
    position: absolute;
    top: 0.5em;
    left: calc((var(--size) / -2) - (var(--border-width) / 2));
    width: var(--size);
    height: var(--size);
    border: var(--border);
    background-color: var(--color-bg);
    border-radius: 100%;
  }
}

/* Hello link emoji interaction */
.hello-link:hover,
.hello-link:focus {
  + .himoji {
    display: inline-block;
    transform-origin: right bottom;
    animation: waving 300ms linear 3;
  }
}

@keyframes waving {
  50% {
    transform: rotate(15deg);
  }
}
