/* Say hi */
.hello-link:hover + .himoji,
.hello-link:focus + .himoji {
  display: inline-block;
  transform-origin: right bottom;
  animation: waving 300ms linear 3;
}

@keyframes waving {
  50% {
    transform: rotate(15deg);
  }
}

.meta {
  font-size: var(--text-sm);
}

.content {
  grid-column: 2;
}

.content ul {
  list-style-type: var(--list-style-type);
  margin-left: var(--list-offset);
}

.content li {
  margin-right: var(--space-base);
  margin-bottom: var(--space-xs);
}

.content li::marker {
  color: var(--list-marker-color);
  transition: color var(--duration) var(--ease);
}

.content h2 {
  --flow: var(--space-xl);
  font-family: var(--font-family-secondary);
  font-size: var(--text-md);
  font-weight: var(--font-bold);
  line-height: 1.25;
}
