.codepen {
  font-style: italic;
}

.cp_embed_wrapper {
  position: relative;
  overflow: auto;
  display: grid;
  place-items: center;
  grid-template-areas: "container";
  min-height: 300px;
  resize: horizontal;

  iframe {
    grid-area: container;
    width: 100%;
  }
}
