.header {
  --offset: clamp(var(--space-sm), 0.8vw, var(--space-base));
  --flow: var(--space-base);
  position: relative;
}

.home-link {
  position: fixed;
  top: var(--offset);
  left: var(--offset);
  display: flex;
  align-items: center;
  padding: var(--space-xs);
  font-size: var(--text-sm);
  line-height: 1.4;
  margin-top: unset;
  text-decoration: none;
  z-index: 1;
}

.home-link .icon {
  --size: clamp(1.3rem, 2vw, 1.75rem);
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}

.social-navigation {
  position: fixed;
  margin-top: unset;
  top: var(--offset);
  right: var(--offset);
  z-index: 1;
}

.social-navigation .list {
  display: flex;
  gap: var(--offset);
}

.social-navigation .link {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
}

.social-navigation .icon {
  --size: clamp(1.25rem, 1.5vw, 1.75rem);
  width: var(--size);
  height: var(--size);
  fill: currentcolor;
}

.title {
  --flow: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--color-primary);
  transition: color var(--duration) var(--ease);
}

.subtitle {
  font-style: italic;
  font-family: var(--font-family-accent);
  font-size: var(--text-md-accent);
  font-weight: 500;
  line-height: 1.25;
  width: 100%;
}

.subtitle > * {
  display: inline-flex;
  align-items: center;
}

.meta {
  font-size: var(--text-sm);
}

.meta > * {
  display: flex;
  align-items: center;
}

.meta .icon {
  --size: 1.4em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
  margin-inline-end: var(--space-xs);
}

.skip-to-content {
  margin-top: var(--space-2xl);
  display: inline-flex;
  align-items: center;
  gap: 2px;
  place-self: start;
  margin-inline-start: 0.3rem;
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  user-select: none;

  &:focus {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
    outline-offset: 3px;
  }
}

.skip-to-content .icon {
  width: 1.125em;
  height: 1.125em;
  fill: currentColor;
}
