.header {
  --flow: var(--space-base);
  position: relative;
}

.container {
  display: flex;
}

.header-icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
  transition: fill var(--duration) var(--ease);
}

.social-navigation {
  position: fixed;
  margin-top: unset;
  top: var(--space-sm);
  right: var(--space-base);
  z-index: 1;
}

.social-navigation .list {
  display: flex;
  gap: var(--space-sm);
}

.social-navigation .link {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
}

.social-navigation .icon {
  width: var(--text-base);
  height: var(--text-base);
  fill: currentcolor;
}

.title {
  --flow: 0;
  font-family: var(--font-family-secondary);
  font-size: var(--text-xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
  color: var(--color-primary);
  transition: color var(--duration) var(--ease);
}

.subtitle {
  font-style: italic;
  font-family: var(--font-family-accent);
  font-size: var(--text-md-accent);
  font-weight: 500;
  line-height: 1.25;
  width: 100%;
}

.subtitle > * {
  display: inline-flex;
  align-items: center;
}

.meta {
  font-size: var(--text-sm);
}

.skip-to-content {
  --flow: calc(var(--space-xl) - var(--text-sm));
  display: inline-flex;
  gap: 3px;
  place-self: start;
  margin-inline-start: 0.3rem;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  font-size: var(--text-sm);
  line-height: 1;
  text-decoration: none;

  &:focus {
    opacity: 1;
    pointer-events: initial;
    user-select: initial;
    outline-offset: 4px;
  }
}

.skip-to-content .icon {
  width: 1em;
  height: 1em;
  fill: currentColor;
}
