---
layout: base
noindex: true
metaTitle: "Resume"
---

{% block styles %}
  <link rel="stylesheet" href="/assets/css/resume.css">
{% endblock %}

<address class="personal-info h-card">
  <h2 class="visually-hidden">Location and contact information for Ryan Mulligan</h2>
  <dl>
    {% for item in "resume-header" | getVarFromString %}
      <div>
        <dt>
          <span class="visually-hidden">{{item.title}}</span>
          {{ item.icon | icon | svgContents | safe }}
        </dt>
        <dd>
          {% if item.link.url === "mailto" %}
            <a href="{% mailToPath ""+item.link.subject %}">{{item.link.text}}</a>
          {% elif item.link.url %}
            <a href="{{item.link.url}}">{{item.link.text}}</a>
          {% else %}
            {{item.link.text}}
          {% endif %}
        </dd>
      </div>
    {% endfor %}
  </dl>
</address>

<h2>The bit about myself</h2>
<p class="p-summary">I'm a fun-loving front-end engineer that strives to bridge the gap between web design and development, building user experiences with positive interactivity through thoughtful interfaces. I advocate for modern best practices on the web and love working with diverse, inclusive teams.</p>

<h2>Experience</h2>
{% for job in jobs %}
  <article class="job p-experience">
    <h3 class="job-company p-org">{{job.company}}</h3>
    <span class="job-location p-location">{{job.location}}</span>
    <dl class="roles flow">
      {% for role in job.roles %}
        <div class="role">
          <dt class="role-title p-name">{{role.title}}</dt>
          <dd class="role-meta">
            <time datetime="{{role.startDate | formatJobDate}}">{{ role.startDate }}</time> —
            {% if role.endDate === "Present" %}
              {{role.endDate}}
            {% else %}
              <time datetime="{{role.endDate | formatJobDate}}">{{role.endDate}}</time>
            {% endif %}
          </dd>
          <dd class="role-meta">{{role.type}}</dd>
          <dd class="role-description p-summary">{{role.description}}</dd>
        </div>
      {% endfor %}
    </dl>
  </article>
{% endfor %}

<h2>Education</h2>
<dl class="h-event p-education">
  <dt class="h-card p-org">
    <strong>Ramapo College of New Jersey</strong>
  </dt>
  <dd class="p-name">Bachelors, Communications, Graphic Design</dd>
  <dd>2001—2005</dd>
</dl>

<h2>Skills</h2>
<p>My primary goal is to build online experiences using the foundational building blocks of the web and align to the principle of least power: start with simpler languages like HTML and CSS before jumping into more complex frameworks. Keep systems straightforward, extensible, and well-documented. Below highlights a few general areas of expertise:</p>
<ul class="multi-column">
  {% for skill in "resume-skills" | getVarFromString %}
    <li class="p-skill">{{ skill }}</li>
  {% endfor %}
</ul>

<h2>Publications & Features</h2>
<ul>
  {% for feature in features %}
    <li>
      <a href="{{ feature.url }}" target="_blank" rel="noopener">{{ feature.title }}</a>
      <span class="source">{{ feature.source }}</span>
    </li>
  {% endfor %}
</ul>

<h2>Honors & Awards</h2>
<dl class="awards flow">
  {% for award in awards %}
    <div class="award">
      <dt class="award-title">{{ award.title }}</dt>
      <dd class="source">
        🏆 Issued by {{ award.company }}
      </dd>
      {% if award.url %}
        <dd class="source">
          <a href="{{ award.url }}" target="_blank" rel="noopener">{{award.url | removeHttp }}</a>
        </dd>
      {% endif %}
      <dd class="award-description">
        {{ award.description}}
      </dd>
    </div>
  {% endfor %}
</dl>