@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@600&family=Work+Sans&display=swap");

:root {
  --color-text: hsl(0, 0%, 88%);
  --color-text-accent: hsl(0, 0%, 68%);
  --color-bg: hsl(285, 18%, 4%);
  --color-bg-accent: hsl(285, 18%, 15%);
  --color-primary: hsl(344, 85%, 50%);
  --color-secondary: hsl(47, 81%, 56%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  padding: 0 3rem;
  min-height: 100vh;
  font-family: "Work Sans";
  color: var(--color-text);
  background: var(--color-bg);
}

.icon {
  width: 2rem;
  height: 2rem;
  fill: var(--color-primary);
}

h1 {
  margin-bottom: 1rem;
  font-size: 2.125rem;
  font-family: "Fraunces";
  line-height: 1.1;
  color: var(--color-primary);
}

p {
  font-size: 1rem;
}
